@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --bg: #f3f3f3;
  --header-bg: #fff;
  --buton-hover-bg: #ff3;
  --card-bg: #ccc;
  --text-color: #111;
  --hover-brightness: 0.86;
}

html.dark {
  --bg: #090909;
  --header-bg: #090939;
  --buton-hover-bg: #ff3;
  --card-bg: #111;
  --text-color: #eee;
  --hover-brightness: 1.3;
}

body {
  font-family: "shabnam";
  font-weight: 100;
  font-size: 1.1rem;
  line-height: 2.4rem;
  color: var(--text-color);
  margin: 0;
  background-color: var(--bg);
  direction: rtl;
}

h1 {
  font-weight: 500;
  font-size: 2.6rem;
  line-height: 5rem;
}

h2 {
  margin-top: 4rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.6rem;
}

h3 {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 3rem;
}

h4 {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.6rem;
}

h5 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

h6 {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.2rem;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.9rem;
}

pre {
  direction: ltr;
}

code {
  font-family: "Fira Mono";
  font-size: 0.8rem;
  font-weight: 400;
  background-color: var(--card-bg);
  padding: 0.3rem;
  border-radius: 0.5rem;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 4px;
  opacity: 0.1;
}
::-webkit-scrollbar-track {
  background: rgba(0, 240, 240, 0);
}
::-webkit-scrollbar-thumb {
  background: rgba(80, 80, 80, 0.6);
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(80, 80, 80, 1);
}
